 .containerHistories{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    width: fit-content;
}

.histories_name{
    font-size: 0.7rem;
} 

.containerHistories_elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}