 .containerHistories{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    width: fit-content;
}

.containerHistories__elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.histories_img{
    width: 53px;
    height:53px; 
    border-radius: 50%;
    position: absolute;
    /* top: 5.8px; */
}

.histories_circule{
    position: relative;
    border: 4px solid transparent;
    border-radius: 50%;
    background: white;
    background-clip: padding-box;
    padding: 26.5px;

}

.histories_circule::after{
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(90deg, rgba(207,74,158,1) 0%, rgba(223,67,127,1) 50%, rgba(250,172,103,1) 100%);;
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.histories_name{
    font-size: 0.7rem;
} 


@media (max-width: 960px) {
    .containerHistories{
        margin-top: 0px;
    }
  }
